<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!enviado">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="cliente.nombre" name="nombre" />
      </div>

      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input class="form-control" id="direccion" required [(ngModel)]="cliente.direccion" name="direccion" />
      </div>

      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" required [(ngModel)]="cliente.telefono" name="telefono" />
      </div>

      <div class="form-group">
        <label for="ci">CI</label>
        <input type="text" class="form-control" id="ci" required [(ngModel)]="cliente.ci" name="ci" />
      </div>

      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" id="fecha" required [(ngModel)]="cliente.fecha" name="fecha" />
      </div>

      <div class="form-group">
        <label for="edad">Edad</label>
        <input type="text" class="form-control" id="edad" required [(ngModel)]="cliente.edad" name="edad" />
      </div>

      <div class="form-group">
        <label for="sexo">Sexo</label>
        <select class="form-control" name="sexo" id="sexo" [(ngModel)]="cliente.sexo">
          <option value="">Seleccione</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>

      <button (click)="crearCliente()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="enviado">
      <h3>Se registro el nuevo cliente</h3>
      <button class="btn btn-success" (click)="nuevoCliente()">Nuevo</button>
    </div>
  </div>
</div>